div.p5Canvas {
    display: block !important;
    box-shadow: 0 0 1000px 0 #000;
}

button {
    color: #fff;
    background-color: #1857bf;
    font-weight: 600;
    padding: 8px 13px;
    margin: 15px 10px 0 0;
    font-size: 15px;
    border-radius: 3px;
    display: inline-block;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
}
